<div class ="detail">

<div class ="detail-title">
<h2>メモ詳細</h2>
</div>

<dl class ="detail-contents">
<dt class ="detail-contents-label">ID</dt>
<dd class ="detail-contents-desc"><%= h(@memo["id"]) %></dd>
<dt class ="detail-contents-label">件名</dt>
<dd class ="detail-contents-desc"><%= h(@memo["article"]) %></dd>
<dt class ="detail-contents-label">内容</dt>
<dd class ="detail-contents-desc"><%= h(@memo["content"]) %></dd>
<dt class ="detail-contents-label">作成日</dt>
<dd class ="detail-contents-desc"><%= h(@memo["time"]) %></dd>
</dl>

<div class="detail-post">
        <a href="/<%= @memo["id"] %>/edit" class ="btn-2">変更</a>
        <form action= "/<%= @memo["id"] %>" method= "post">
        <input type="hidden" name="_method" value="delete">
        <input type= "submit" value = "削除" class ="btn-2">
        </form>      
</div>
</div>